{% extends "base.html" %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>


 <thead>
<table class="table table-bordered">
<body>
{%for post in posts%}

    <h3>{{post.title}}
        {{post.content}}
        {{post.name}}</h3>
<div>
 {% if user.is_active %}
 <a href="{%url 'post:post_list' %}" class="btn btn-primary btn-sm">
 <i class="fas fa-pencil-alt"></i> 쓰기</a>
 <a href="{% url 'post:post_list'%}"
 class="btn btn-primary btn-sm"><i class="far fa-edit"></i> 수정 목록</a>
 {% endif %}
 </div>
{% endfor %}
</body>

 </tbody>

</table>

</html>


</table>
</body>
{% endblock %}