{% extends 'base.html' %}
{% block content %}

<style>
.content {
text-align: center;
height: 50%;
width: 50%;
}
.table{
color:white;
font-size:1.2em;
}
td{
text-align:center;
}
#store:hover tbody tr:hover td {
background: rgba(255,255,255,0.3);
color: white;
}



</style>

<div class="content">
    <h1>점포 삭제</h1>
<br>
<form action="." method="post">{% csrf_token %}
    <input class="btn btn-outline-success" type="submit" value="삭제"/>

<div class="alert alert-success alert-dismissible">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>Warning! </strong>삭제를 누르시면 해당글이 삭제됩니다!.</div>

</form>
</div>

{% endblock %}
